body {
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh; /* Occupe toute la hauteur de la fenêtre */
    background-color: #f5f5f5; /* Couleur de fond légère */
    font-family: Arial, sans-serif; /* Police générale */
    background-image: url('/assets/images/maison-riviere.jpg'); /* Chemin de l'image */
    background-size: cover; /* Ajuste l'image pour couvrir toute la section */
    background-position: center; /* Centre l'image */
    background-repeat: no-repeat; /* Empêche la répétition de l'image */
}

.message {
    text-align: center; /* Centre le texte à l'intérieur du conteneur */
}

.title {
    font-size: 2.5rem; /* Taille de la police pour le titre */
    font-weight: bold; /* Texte en gras */
    color: #333; /* Couleur du texte */
    margin-bottom: 10px; /* Espace sous le titre */
}

.sub-title {
    font-size: 1.2rem; /* Taille de la police pour le sous-titre */
    color: #666; /* Couleur plus douce */
}

/* Responsiveness */
@media (max-width: 768px) {
    .hero-title {
        font-size: 2rem;
    }

    .hero-subtitle {
        font-size: 1rem;
    }
}
